<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        Hi, i like {{food}}
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias eius facilis iure magnam, officiis dignissimos.
        Aliquid laboriosam dolorem veritatis laborum vitae harum quod quasi amet quam. Sapiente, error dolor? Dolores.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, consequuntur deleniti obcaecati minus officiis, eius
        recusandae magnam quisquam adipisci soluta distinctio quaerat nam, ipsa quis aliquam ad eum aperiam et?
    </p>
</body>

</html>